cloud_id                 = "b1gd"
folder_id                = "b1g"
zone                     = "ru-central1-a"
image_id                 = "fd8"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9"
service_account_key_file = "/home/..../key.json"
private_key_path         = "~/.ssh/appuser"
counter                  = "1"
network_id               = "enp"
app_disk_image           = "fd85"
db_disk_image            = "fd81"
name_template            = "prod"
#database_url = module.app.external_ip_address_app
